*.retry
# ignore build folder
/build/*
/.classpath
/.settings
/.directory
/.project
/build/
/doc/
/target/
/osgi-bundles/
/osgi-cache/
/osgi-bundles-default.zip
/conf/config
/conf/records
/sv_batch_fs/
/svarog_filestore/
/bin/
/svarog.properties
/svarog.properties.bkp
